@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    scroll-behavior: smooth;
}



$bg: #EEE6E4;
$blue: #059ECE;
$blue2: #095B93;
$dark: #242834;
$bright: #FFCC57;

$play: 'Playfair Display', serif;
$mont: 'Montserrat', sans-serif;




$pallete1: #FFCC57;
$pallete1: #C4B0A9;
$pallete1: #C4B0A9;
$pallete1: #489AC2;
$pallete1: #095B93;
$pallete1: #242834;

// font-family: 'Montserrat', sans-serif;
// font-family: 'Playfair Display', serif;