.contact{
    width: 60%;
    margin: 0 auto;
    margin-top: 12rem;
    margin-bottom: 12rem;
    border-radius: 50px;
    background: $bg;
    padding: 3rem 0 4rem 0;
    box-shadow:  23px 23px 46px #bebebe,
     -23px -23px 46px #ffffff;

    h4{
        font-size: 3rem;
        letter-spacing: 2px;
        font-family: $play;
        font-weight: 600;
        text-align: center;
    }

    .social-media{
        text-align: center;
        margin: 1rem;

        i{
            color: $dark;
            padding: 1rem 0;
            font-size: 1.6rem;
            margin: 0 1rem;
            transition: .5s ease;

            &:hover{
                transform: scale(1.3);
            }
        }
    }


    form{
        text-align: center;
        margin-top: 0.3rem;
    
        ::placeholder {
          color: $dark;
          opacity: 1; /* Firefox */
          text-align: center;
        }
    
        label{
          margin-top: 1.5rem;
          position: relative;
          display: block;
          color: white;
          font-size: 1.3rem;
          letter-spacing: 1px;
          font-family: $mont;
          font-weight: 900;
    
          span{
            display: none;
          }
    
          #myemail{
            width: 40vw;
            line-height: 3rem;
            font-size: 1.2rem;
            font-family: $mont;
            letter-spacing: 1px;
            background: rgba(17, 17, 17, 0.089);
            border: none;
            outline: none;
            border-bottom: 0px solid $blue;
            border-radius: 10px;
            padding: .5rem 2rem;
            color: $dark;
            margin-bottom: 1rem;
            font-weight: bold;
    
            &:focus{
              outline: none;
            }
          }
          #mytextarea{
            width: 40vw;
            min-height: 120px;
            line-height: 2rem;
            font-size: 1.2rem;
            font-family: $mont;
            letter-spacing: 1px;
            background: rgba(17, 17, 17, 0.089);
            border: none;
            outline: none;
            border-bottom: 0px solid $blue;
            border-radius: 10px;
            padding: 2rem;
            color: $dark;
            font-weight: bold;
    
            &:focus{
              outline: none;
            }
          }
        }
      }
    
      button{
          font-family: $mont;
          letter-spacing: 1px;
          border: 3px solid $blue;
          border-radius: 10px;
          padding: 0.8rem 2rem;
          color: #fff;
          background: $blue;
          margin-top: 2rem;
          font-size: 1.1rem;
          cursor: pointer;
          transition: 0.8s;
    
          &:hover{
              color: #fff;
              background: $blue2;
              border: 3px solid $blue2;
          }
      }
}